*{
    font-family:'Quicksand','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* variable */
:root{
    --white : #ffffff;
    --lighter : #24fff0;
    --darker : #1a7872;

        /* CSS HEX */
    --nyanza: #d8f3dcff;
    --turquoise-green-2: #95d5b2ff;
    --ocean-green: #74c69dff;
    --button-color: #52b788ff;
    --darker-color: #2d6a4fff;;
    --text-color: #081c15ff;
}


.topnav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.2rem;
    font-weight: 500;
}

.nav-brand{
  display: flex;
  justify-content: flex-end;
}

.nav{
  display: none;
}

.responsive{
    display: flex;
    flex-direction: column;
    border-top: solid 1px black;
    background-color: var(--nyanza);
}

.nav-item{
margin: 1rem;
}

.navbar a{
    color: black;
}

.nav a{
  font-size: 1.1rem;
}

.nav-toggle .icon img{
  width: 30px;
  height: 20px;
}


.content, .content-page{
  margin: 1.7rem 1.2rem;
}

.welcome h2{
  margin-bottom: 1rem;
}

.welcome img{
  width: 100%;
  border-radius: 1rem;
  margin: 1.2rem 0;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.info-app{
  /* border-radius: 1rem;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1); */
  text-align: justify;
  text-justify: inter-word;
  /* padding: 1rem; */
  margin: 1rem 0;
}

.tanaman{
  margin-top: 2rem;
}

.tanaman h3{
  text-align: center;
  margin-bottom: 1rem;
}

.tanaman-home-title, .welcome-tentang{
  margin: 2rem;
  text-align: center;
}

.tanaman-home .card{
  display: grid;
}

.img-card-home img{
  width: 100%;
  height: 60vw;
  border-radius: 100%
  /* object-fit: cover; */
}

.card-item-home{
  margin: 2rem;
  justify-content: center;
  padding: 1.4rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  background-color: var(--nyanza);
}

.card{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-item{
  margin: 1rem;
  justify-content: center;
  padding: 1.4rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  background-color: var(--nyanza);
}

.img-card img{
  width: 100%;
  height: 30vw;
  border-radius: 100%
  /* object-fit: cover; */
}

.text-card{
  display: flex;
  justify-content: center;
  text-align: center;
}

footer{
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: var(--text-color);
  color: white;
}

.page-tanaman{
  display: flex;
  flex-direction: column;
}

.tanaman-nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 0.7rem;
  margin: 1rem;
  text-align: center;
}

.item-nav{
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  margin: 0.5rem;
}

.item-nav img{
  width: 30px;
  margin: 0.5rem;
}

.tanaman-title{
  text-align: center;
  margin-bottom: 1rem;
}

.tanaman-img{
  display: flex;
  margin: 1rem;
}

.tanaman-img img{
  width: 100%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
}

.tanaman-klasifikasi{
  margin: 1rem;
  text-align: justify;
  text-justify: inter-word;
}

.ciri h3, .manfaat h3, .klasifikasi h3{
margin: 1rem 0;
}
.br-btm{
  border-bottom: solid 1px var(--text-color);
  margin: 1rem 0;
}

.identitas-list{
  margin: 1rem 0;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }